@model MMW.Aplicacao.ViewModels.EntradaViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>EntradaViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Loja</label>
                <select asp-for="LojaId" asp-items="ViewBag.lojaId" class="form-control"></select>                
                <span asp-validation-for="LojaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Fornecedor</label>
                <select asp-for="FornecedorId" asp-items="ViewBag.fornecedorId" class="form-control"></select>                
                <span asp-validation-for="FornecedorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataEmissaoNota" class="control-label"></label>
                <input asp-for="DataEmissaoNota" class="form-control" />
                <span asp-validation-for="DataEmissaoNota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroNota" class="control-label"></label>
                <input asp-for="NumeroNota" class="form-control" />
                <span asp-validation-for="NumeroNota" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
